@font-face {
    font-family: 'OpenSans_Google';
    src:
        local("OpenSans-VariableFont_"),
        url("../assets/fonts/OpenSans-VariableFont_.ttf") format("woff2"),
        url("../assets/fonts/OpenSans-VariableFont_.ttf") format("woff"),
        url("../assets/fonts/OpenSans-VariableFont_.ttf") format("truetype");
}

@font-face {
    font-family: 'OpenSans_Google_Italic';
    src:
        local("OpenSans-Italic-VariableFont_"),
        url("../assets/fonts/OpenSans-Italic-VariableFont_.ttf") format("woff2"),
        url("../assets/fonts/OpenSans-Italic-VariableFont_.ttf") format("woff"),
        url("../assets/fonts/OpenSans-Italic-VariableFont_.ttf") format("truetype");
}

/* 
    Porque se resetean los estilos por defecto en css
    Usar reset CSS o normalize CSS.

    Principalmente se resetean porque como es un proyecto web se tendria que poder abrir en
    en todos los navegadores. y los navegadores por defecto tienen estilos predeterminados.
    
*/

/* ========== RESET CSS =========== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, 
mark, audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ----------- 2. <<END>> CSS RESET CLASS -----------*/



/* ------ 2. HELPER CLASS ------*/
.align_right{
    float: right;
}
.text_center{
    text-align: center;
}

/* ----------- 2. <<END>> HELPER CLASS -----------*/



/* ------ 2. GENERAL CLASS ------*/
*{
    box-sizing: border-box;
}
.wrapper{
    max-width: 880px;
    margin: 0 auto;
    background: #ffffff;
    padding: 0 55px;
    border: 1px solid transparent;
}
body{
    font-family: 'OpenSans_Google', sans-serif;
    font-size: 18px;
    background: #282828;
}
p{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
}
/* ----------- 2. <<END>> GENERAL CLASS -----------*/





/* ------ 2. SECTION TITLE RED CLASS ------*/
.div_red_rectangle{
    background-image: url('../assets/img/big-red-rectangle.png');
    background-size: cover;
    color: white;
    font-family: 'OpenSans_Google', sans-serif;
    text-align: center;
    padding: 20px 70px;
    font-size: 22px;
    line-height: 37px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    margin-left: -70px;
    margin-right: -70px;
    margin-top: 2px;
}
.div_red_rectangle::after{
    content: "";
    position: absolute;
    border-top: 15px solid #7d0000;
    border-right: 16px solid transparent;
    height: 0;
    width: 0;
    bottom: -15px;
    right: -1px;
}
.div_red_rectangle::before{
    content: "";
    position: absolute;
    border-top: 15px solid #7d0000;
    border-left: 16px solid transparent;
    height: 0;
    width: 0;
    bottom: -14px;
    left: -1px;
    right: 0; 
}
/* ----------- 2. <<END>> SECTION TITLE RED CLASS -----------*/

.nth_paras{
    padding-top: 30px;
    padding-bottom: 3px;
    margin-bottom: 30px;
}
.greyish{
    background: #faf9f7;
    margin-left: -55px;
    margin-right: -55px;
    padding-left: 55px;
}
.person{
    margin-top: -50px;
    position: relative;
    z-index: 1000;
}
.yellow_arrow{
    position: relative;
    display: inline;
}
.yellow_arrow::after{
    content: "";
    background: url('../assets/img/arrow.png') no-repeat;
    position: absolute;
    display: block;
    height: 42px;
    width: 68px;
    top: 18px;
    left: 38px;
}
.person_2{
    margin-left: -90px;
    float: left;
    margin-right: 28px;
    z-index: 1;
    position: relative;
}
h4.callout {
    background: #ca0000;
    padding: 15px 0px;
    display: block;
    margin: 50px 330px 20px 180px;
    color: white;
    font-weight: 600;
    position: relative;
}
h4.callout::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 47px solid #ca0000;
    border-right: 27px solid transparent;
    right: -29px;
    top: 0px;
    left: 260px;
}
.silver_heading{
    background: #f2f2f4;
    font-family: 'OpenSans_Google', sans-serif;
    font-size: 30px;
    line-height: 35px;
    color: black;
    padding: 25px 45px;
    margin-left: -55px;
    margin-right: -55px;
}